/node_modules/
/public/build/

yarn-debug.log*
yarn-error.log*

### JetBrains WebStorm ###
.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### MacOS ###
.DS_Store

### Environment variables File ###
.env
