@mixin ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin grid-background {
	background-image: linear-gradient(
					rgba(210, 210, 210, 0.5) 0.7px,
					transparent 0.5px
	),
	linear-gradient(to right, rgba(210, 210, 210, 0.5) 0.7px, #ffffff 0.5px);
	background-size: 10px 10px;
}
