@import 'public/common';

$headerHeight: 2rem;

article {
	position: absolute;
	left: var(--x);
	top: var(--y);
	width: var(--width);
	height: var(--height);
	min-width: 130px;
	min-height: $headerHeight;
	resize: var(--resize);
	overflow: auto;
	color: #3e3a00;

	&.shadow {
		box-shadow: 1px 1px 1px 0 rgba(115, 99, 0, 0.2);
		-webkit-box-shadow: 1px 1px 1px 0 rgba(115, 99, 0, 0.2);
	}
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5rem;
	height: $headerHeight;
	background-color: #e2c000;
}
header .title-area {
	width: 80%;

	input {
		padding: 1px 2px;
	}
	span {
		@include ellipsis;
		display: block;
	}
}
header .icon-area {
	display: flex;
	justify-content: space-between;
	width: 2.5rem;
	color: #736203;
}
.content-area {
	width: 100%;
	height: calc(100% - #{$headerHeight});
	background-color: #f8d300;
	overflow: auto;

	.content {
		padding: 5px 10px;
	}
	textarea.content {
		resize: none;
	}
}

.title,
.content {
	width: 100%;
	height: 100%;
	background-color: inherit;
	border: none;
}
div.title,
div.content,
.icon-area {
	cursor: pointer;
}
